*{
  box-sizing: border-box; 

}
body{
    margin: 0;
    
}

p{
    margin: 0;
}
.div1{
    background-color: red;
    float: left;
    
    
}

.div2 {
 
    background-color: green;
    float: left;
   
}

.div3{
    background-color: blue;
    float: right;
    
    
    
}
.div4{
    background-color: yellow;
    float: right;
    
    
}
.div1, .div2, .div3, .div4{
    
    width: 20%;    
    height: 50px;
    padding: 20px;
    
    
}
.clear{
    clear: both;
}


.sidebar{
    float: left;
    width: 20%;
    background-color: azure;
    height: calc(100vh - 100px);
}
.main{
    float: left;
    width: 80%;
    /* background-color: cadetblue; */
    background-image: url(pic.jpg);
    background-repeat: no-repeat;
    
    height: calc(100vh - 100px);
    background-size: 100% 100%;
}

.footer{
    float: left;
    margin-left: 20%;
    
    background-color: forestgreen;
    height: 50px;
    padding: 20px;
    width: 80%;
    text-align: center;
}

.footer:hover{
background-color: blueviolet
}

.footer:active{
    background-color: rgb(17, 4, 29)
    }

p::after{
    content: "$";
    color: brown;
    border-left: 5px solid red;
}