*{
  box-sizing: border-box; 

}
body{
    margin: 0;
    
}

p{
    margin: 0;
}
.div1{
    background-color: red;
    float: left;
    
    
}

.div2 {
 
    background-color: green;
    float: left;
   
}

.div3{
    background-color: blue;
    float: right;
    
    
    
}
.div4{
    background-color: yellow;
    float: right;
    
    
}
.div1, .div2, .div3, .div4{
    
    width: 20%;    
    height: 50px;
    padding: 20px;
    margin: 10px;

    
}
.clear{
    clear: both;
}

.content{
   
    background-color: cyan;
    height: 1000px;
    font-size: 1.5em;
        
}
.sidebar{
    float: left;
    width: 20%;
    background-color: azure;
    height: 600px;
}
.main{
    float: left;
    width: 80%;
    background-color: cadetblue;
    height: 600px;
}
