*{
  box-sizing: border-box; 

}
body{
    margin: 0;
    font-family: fantasy;
    font-size: 20px;
}

.div1{
    background-color: red;
    
    top: 0;
    
}

.div2 {
 
    background-color: green;
    
    top: 0px;
    left: 20%;
}

.div3{
    background-color: blue;
    
    top: 0px;
    left: 40%;
    
}
.div4{
    background-color: yellow;
    
    top: 0px;
    left: 60%;
    
}
.div1, .div2, .div3, .div4{
    position: fixed;
    width: 20%;    
    height: 50px;
    padding: 20px;
    
}

.content{
   margin-top: 50px;
    background-color: cyan;
    height: 1000px;
    font-size: 1.5em;
}

